.range-nav
  %a.prev-link{:"ng-click" => "prev()"}
    &lt;
  %a.next-link{:"ng-click" => "next()"}
    &gt;
  .range-text {{ rangeString }}
%table.habits.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th
      %th Habit
      %th{:"ng-repeat" => "day in days_in_range"} {{day}}
  %tbody
    %tr.habit-row{:"ng-repeat" => "habit in habits"}
      %td{:"ng-click" => "remove(habit)"}
        %i.icon-remove
      %td{id: "{{habit.id}}", :"ng-click" => "edit(habit)"}
        .desc{:"ng-show" => "!habit.renaming"} 
          {{habit.description}}
        %form{:"ng-show" => "habit.renaming", :"ng-submit" => "rename(habit)"}
          %input{name: "habit{{habit.id}}", value: "{{habit.description}}", :"ng-blur" => "rename(habit)"}
      %td{:"ng-repeat" => "day in habit.days"}
        %input{type: "checkbox", :"ng-model" => "day.v", :"ng-change" => "changeDay(habit, day)"}

.btn.add-habit{:"ng-click" => "add()"} Add Habit