%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Habit
      - (1..@days_in_month).each do |i|
        %th= i
  %tbody
    - current_user.habits.each do |habit|
      %tr.habit-row
        %td= habit.description
        - (1..@days_in_month).each do |i|
          %td
            d
