%table.habits.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Habit
      - (1..@days_in_month).each do |i|
        %th= i
  %tbody
    %tr.habit-row{:"ng-repeat" => "habit in habits"}
      %td {{habit.description}}
      - (1..@days_in_month).each do |i|
        %td
          d

.btn.add-habit{:"ng-click" => "add()"} Add Habit