%table.habits.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th
      %th Habit
      %th{:"ng-repeat" => "day in habits[0].days"} {{day.d}}
  %tbody
    %tr.habit-row{:"ng-repeat" => "habit in habits"}
      %td{:"ng-click" => "remove(habit)"}
        %i.icon-remove
      %td{id: "{{habit.id}}", :"ng-click" => "habit.renaming = true"}
        .desc{:"ng-show" => "!habit.renaming"} 
          {{habit.description}}
        %form{:"ng-show" => "habit.renaming", :"ng-submit" => "rename(habit)"}
          %input{name: "habit{{habit.id}}", value: "{{habit.description}}"}
      %td{:"ng-repeat" => "day in habit.days"}
        %input{type: "checkbox", :"ng-model" => "day.v", :"ng-change" => "changeDay(habit, day)"}

.btn.add-habit{:"ng-click" => "add()"} Add Habit